<!-- <ul (drop)="drop($event, eleID)" (dragover)="allowDrop($event)" [id]="eleID">
    <ng-container *ngFor="let item of data; let i = index">
        <li style="height: 1px;" class="re-order" [attr.data-order]="i"></li>
        <li [attr.data-parent]="item.id" [attr.data-seq]="i" class="list-item">
            <div (dragstart)="drag($event, item)" draggable="true" [id]="'id' + item.id" [attr.data-node]="item.id">
                <i class="arrow" [ngClass]="{'right':!item.isopen,'down':item.isopen}" (click)="openChild($event, item)"
                    *ngIf="item.children.length > 0"></i><span (click)="click($event, item)">{{
                    item.name
                    }}k</span>
            </div>
            <app-tree [data]="item.children" [hidden]="!item.isopen" [eleID]="'tree' + i"></app-tree>
        </li>
    </ng-container>
</ul> -->
<ul (drop)="drop($event, eleID)" (dragover)="allowDrop($event)" id="root">
    <ng-container *ngTemplateOutlet="Recursion; context: { list: data }"></ng-container>
</ul>
<ng-template #Recursion let-list="list">
    <ng-container *ngFor="let item of list; let i = index">
        <li style="height: 1px;" class="re-order" [attr.data-order]="i"></li>
        <li [attr.data-parent]="item.id" [attr.data-seq]="i" class="list-item">
            <div (dragstart)="drag($event, item)" draggable="true" [id]="'id' + item.id" [attr.data-node]="item.id">
                <i class="arrow" [ngClass]="{'right':!item.isopen,'down':item.isopen}" (click)="openChild($event, item)"
                    *ngIf="item.children.length > 0"></i><span (click)="click($event, item)">{{ item.name
                    }}k</span>
            </div>
            <ul *ngIf="item.isopen" [id]="'root'+item.id">
                <ng-container *ngTemplateOutlet="Recursion; context: { list: item.children }"></ng-container>
            </ul>
        </li>
    </ng-container>
</ng-template>